.lap-title {
    width: 80%;
    margin: 30px auto;
    border-bottom: solid 2px #999;
    padding-bottom: 5px;
    font-size: 1.2em;
}

.lap-token {
    width: 80%;
    border: solid 2px #ddd;
    border-radius: 8px;
    margin: 20px auto;
    background: #fff;

    > h3 {
        margin: 20px;
        color: #2875cc;
        @extend %Gfont;
        border-bottom: dotted 1px #2875cc;
        padding-bottom: 6px;
    }

    h4 {
        margin: 20px 0;
    }

    h5 {
        margin: 10px 0;
    }

    .lap-info-value,
    code {
        margin: 10px 20px 10px 0;
        @extend %Gfont;
        font-size: 16px;
        letter-spacing: 1px;
        font-style: italic;
        border: solid 1px #cabbbb;
        border-radius: 8px;
        padding: 12px 20px;
        background-color: #f1eaea;

        &.blank {
            > input {
                color: red;
            }
        }

        > input {
            width: 100%;
            background: none;
            border: none;
        }
    }

    .lap-downloadrc {
        margin: 0 20px 20px 20px;
        border-radius: 6px;
    }

    code {
        padding: 4px 8px;
        font-weight: normal;
        margin: 0 2px;
    }

}

.lap-account {
    text-align: center;
    margin: 40px auto;
    width: 80%;
}

.lap-back-button {
    background: rgb(223, 117, 20);
    color: #fff;
}

.lap-account-button {
    width: 260px;
    padding: 12px 0;
    border-radius: 36px;
    background: rgb(66, 184, 221);
    color: #fff;
    font-size: 20px;
    @extend %Gfont;

    .fa {
        margin-right: 8px;
        font-size: 30px;
    }

    &:hover {
        opacity: 0.8;
    }

    &.disabled {
        background: #ccc;
    }
}

.lap-account-authorize {
    line-height: 64px;
    height: 64px;
    text-align: left;

    > span {
        @extend %Gfont;
        font-size: 18px;

        .fa-check {
            color: #7acc28;
            margin-right: 4px;
        }
    }
}

.lap-section {
    width: 70%;
    margin: 20px auto;
    border: solid 1px #ccc;
    border-radius: 6px;
    font-size: .9em;

    > fieldset {
        padding: 20px;

    }

    .notification {
        @extend %reset;
        padding: 0 0 8px 0;
    }

    .lap-notification {
        width: auto;
        margin: 10px 20px;
    }

    .warning {
        color: #888884;
        margin-right: 8px;
    }

    &:last-of-type {
        margin-bottom: 60px;
    }

    .pure-input {
        width: 480px;
    }
}

.lap-danger {
    border: solid 1px #c00;

    .lap-section-caption,
    .pure-button {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404));
        color: #fff;
    }

    .notification {
        color: #a00;
    }

}

.lap-warning {
    border: solid 1px #f7d332;

    .lap-section-caption,
    .pure-button {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd65e), color-stop(100%,#febf04));
        color: #333;
    }

    .notification {
        color: #bb9f21;
    }
}

.lap-section-caption {
    @extend %reset;
    padding: 10px 16px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc));
}

.lap-emails {
    @extend %reset;
    padding: 20px;
    list-style: none outside;

    > li {
        border: solid 1px #ccc;;
        border-radius: 2px;
        background: #eee;
        margin: 6px 0;
        padding: 8px 20px;
        clear: both;
    }

    .lap-email-status {
        float: right;
        line-height: 24px;

        &.activated,
        a {
            color: #223303;
        }

        &.waiting {
            color: #a00;
        }
    }

    [type="radio"] {
        display: none;

        &:checked + div {
            font-size: 1.2em;
            font-weight: bold;
        }
    }

}

