%reset {
    margin: 0;
    padding: 0;
}

%Gfont {
    font-family: 'Lato', sans-serif;
}

.lap-link {
    color: #fff;
    text-decoration: none;

}

.fa {
    margin-right: 6px;
}

@import "_common.scss";
@import "_account.scss";
@import "_pin.scss";
@import "_tab.scss";
